TG_BOT_TOKEN=
APP_ID=
API_HASH=
CHANNEL_ID=
OWNER_ID=
ADMINS=
DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=premium_file_bot
PORT=8087
FORCE_SUB_CHANNEL=0
AUTO_REPOST_ENABLED=False
SHORTLINK_URL=
SHORTLINK_API=
IS_VERIFY=False
VERIFY_EXPIRE=86400
TUT_VID=
START_MESSAGE=Welcome, {first}!
FORCE_SUB_MESSAGE=Please join the required channel and try again.
CUSTOM_CAPTION=
PROTECT_CONTENT=False
DISABLE_CHANNEL_BUTTON=False
